---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import { sample } from "src/utils";

import { Testimonial } from "src/components/astro";
import { GridPattern } from "src/components/react";

type Props = {
  book: CollectionEntry<"books">;
};

const { book } = Astro.props;
const testimonial = sample(
  book.data.testimonies?.filter((t) => t.isFeatured) || [],
);
---

<header class="relative z-10 overflow-hidden lg:bg-transparent">
  <div
    class="mx-auto grid max-w-6xl grid-cols-1 grid-rows-[auto_1fr] gap-y-16 pt-16 md:pt-20 lg:grid-cols-12 lg:gap-y-20 lg:px-3 lg:pb-16 lg:pt-20"
  >
    <div class="relative flex items-start lg:col-span-5 lg:row-span-2">
      <div
        class="rounded-br-6xl absolute z-10 mb-24 overflow-hidden rounded-br-3xl bg-blob-2 text-white/15 md:bottom-8 lg:-inset-y-32 lg:left-[-100vw] lg:right-full lg:-mr-40"
      >
        <GridPattern />
      </div>

      <div
        class="relative z-10 mx-auto flex aspect-[3/4] w-64 rounded-xl bg-blob-3 shadow-2xl shadow-black/15 md:w-80 lg:w-96"
      >
        <a href={`/books/${book.slug}/`}>
          <Image
            class="aspect-[3/4] w-64 w-full rounded-xl object-cover"
            src={book.data.image}
            alt={book.data.title!}
            width={600}
            data-astro-prefetch
          />
        </a>
      </div>
    </div>

    {
      testimonial && (
        <div class="relative px-4 sm:px-4 lg:col-span-7 lg:pb-14 lg:pl-16 lg:pr-0 xl:pl-20">
          <div class="hidden opacity-25 backdrop-blur-md lg:absolute lg:-top-32 lg:bottom-0 lg:left-[-100vw] lg:right-[-100vw] lg:block lg:bg-slate-100" />
          <Testimonial testimonial={testimonial} />
        </div>
      )
    }

    <div
      class="pt-16 lg:col-span-7 lg:bg-transparent lg:pl-16 lg:pr-10 lg:pt-0 xl:pl-20"
    >
      <div
        class="container mx-auto text-balance px-4 tracking-tight sm:px-4 md:max-w-2xl md:px-4 lg:px-0"
      >
        <h1 class="my-h1">
          <a href={`/books/${book.slug}/`} data-astro-prefetch>
            {book.data.title}
          </a>
        </h1>

        {book.data.headline && <p class="mb-6 text-lg">{book.data.headline}</p>}

        <div class="my-12 flex gap-4">
          <a
            href={`/books/${book.slug}/`}
            class="my-primary-button-lg"
            data-astro-prefetch
          >
            Перейти к книге
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
