---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

import { WritingMetaDetails } from "src/components/astro";

import img from "public/writing-hero.webp";

type Props = {
  writing: CollectionEntry<"writings">;
};

const { writing } = Astro.props;
---

<div
  class="relative isolate mb-10 aspect-[16/7] overflow-hidden rounded-2xl shadow-2xl"
>
  <a href={`/writings/${writing.slug}/`}>
    <Image
      src={img}
      alt={writing.data.title!}
      class="absolute inset-0 -z-10 h-full w-full bg-blob-3 object-cover"
    />
  </a>
</div>

<div class="xl:px-20">
  <h1 class="my-h1">
    <a href={`/writings/${writing.slug}/`}>
      {writing.data.title}
    </a>
  </h1>

  <WritingMetaDetails writing={writing} />

  <div class="mb-8 text-pretty md:text-lg">
    {writing.data.headline}
  </div>

  <div>
    <a
      href={`/writings/${writing.slug}/`}
      class="font-semibold text-indigo-600 transition-all duration-75 hover:pl-1 hover:text-indigo-500 md:text-lg"
      data-astro-prefetch
    >
      Читать полностью &rarr;
    </a>
  </div>
</div>
