---
import { Image } from "astro:assets";

import { WritingMetaDetails } from "src/components/astro";
import type { Collections } from "src/content";

import img from "public/writing-hero.webp";

type Props = {
  writing: {slug: string, entry: Collections["writings"]};
};

const { writing } = Astro.props;
---

<div>
  <div
    class="relative isolate mb-10 aspect-[7/4] overflow-hidden rounded-2xl shadow-2xl xl:-ml-6"
  >
    <a href={`/writings/${writing.slug}/`}>
      <Image
        src={img}
        alt={writing.entry.title!}
        class="absolute inset-0 -z-10 h-full w-full bg-blob-3 object-cover"
      />
    </a>
  </div>

  <div>
    <h2 class="my-h1 mb-6">
      <a href={`/writings/${writing.slug}/`}>
        {writing.entry.title}
      </a>
    </h2>

    <WritingMetaDetails writing={writing} />

    <div class="mb-8 text-pretty md:text-lg">
      {writing.entry.headline}
    </div>

    <div>
      <a
        href={`/writings/${writing.slug}/`}
        class="font-semibold text-indigo-600 transition-all duration-75 hover:pl-1 hover:text-indigo-500 md:text-lg"
        data-astro-prefetch
      >
        Читать полностью &rarr;
      </a>
    </div>
  </div>
</div>
