---
import { reader } from "src/reader";

import { SocialIcon } from "src/components/react";

const site = await reader.singletons.site.read();
const menus = await reader.singletons.menus.read();
---

<footer
  class="sticky bottom-0 overflow-hidden bg-blob-2"
  aria-labelledby="footer-heading"
>
  <h2 id="footer-heading" class="sr-only">Footer</h2>

  <div
    class="z-1 absolute -top-64 left-0 aspect-[10/8] w-[1200px] animate-float bg-[radial-gradient(50%_50%_at_50%_50%,#e3a9c1_0%,theme(colors.blob-1)_24.48%,rgba(239,238,243,0)_100%)]"
  >
  </div>
  <div
    class="z-1 absolute -left-64 -top-64 aspect-[10/8] h-full w-[1200px] animate-float bg-[radial-gradient(50%_50%_at_50%_50%,#f4ddcd_0%,theme(colors.blob-2)_24.48%,rgba(239,238,243,0)_100%)] opacity-50 mix-blend-overlay [animation-delay:4s]"
  >
  </div>

  <div
    class="relative isolate z-40 mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32"
  >
    <div class="md:grid md:grid-cols-2 xl:grid-cols-3 xl:gap-16">
      <div class="space-y-8 border-r-zinc-700 xl:border-r xl:pr-12">
        <a href="/" data-astro-prefetch>
          <img
            class="h-16"
            width={64}
            height={64}
            src="/logo.svg"
            alt={site?.title}
          />
        </a>

        {
          site?.footerNote && (
            <p class="text-balance text-xs">{site?.footerNote}</p>
          )
        }

        <div class="flex space-x-4">
          <SocialIcon icon="Facebook" href={site?.social.facebook} />
          <SocialIcon icon="Instagram" href={site?.social.instagram} />
          <SocialIcon icon="X" href={site?.social.twitter} />
          <SocialIcon icon="YouTube" href={site?.social.youtube} />
          <SocialIcon icon="TikTok" href={site?.social.tiktok} />
        </div>
      </div>

      <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        {
          menus?.footer.map((section) => (
            <div>
              <h3 class="text-sm font-semibold leading-6">{section.section}</h3>
              <ul role="list" class="mt-6 space-y-4">
                {section.items.map((item) => (
                  <li>
                    <a
                      href={item.url ?? "#"}
                      class="text-sm leading-6 hover:underline hover:underline-offset-2"
                      data-astro-prefetch
                    >
                      {item.label}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>

    {
      site?.copy && (
        <div class="mt-16 text-xs sm:mt-20 lg:mt-24">{site.copy}</div>
      )
    }
  </div>
</footer>
