---
import type { Collections } from "src/content";
import { WritingMetaDetails } from "src/components/astro";

type Props = {
  writing: {slug: string, entry: Collections["writings"]};
  displayImage?: boolean;
};

const { writing } = Astro.props;
---

<div class="flex break-inside-avoid-column flex-col pb-10">
  <div>
    <h3 class="my-h2">
      <a href={`/writings/${writing.slug}/`}>
        {writing.entry.title}
      </a>
    </h3>

    <WritingMetaDetails writing={writing} />

    <div class="mb-8">
      {writing.entry.headline}
    </div>

    <div>
      <a
        href={`/writings/${writing.slug}/`}
        class="font-semibold text-indigo-600 transition-all duration-75 hover:pl-1 hover:text-indigo-500"
        data-astro-prefetch
      >
        Читать полностью &rarr;
      </a>
    </div>
  </div>
</div>
