---
import {
  PageCut,
  Paginator,
  TextWritingPreviewSD,
  WritingsHero,
  FeaturedBookHero,
} from "src/components/astro";
import { type Collections, getCollection } from "src/content";
import { sample } from "src/utils";

interface Props {
  writings: {slug: string, entry: Collections["writings"]}[];
}

const { writings } = Astro.props;

const heroWritings = writings.slice(0, 4);
const restWritings = writings.slice(4, 10);

const pages = Math.ceil(writings.length / 10);

const featuredBook = sample(
  (await getCollection("books")).filter(({entry}) => entry.isFeatured),
);
---

{
  heroWritings.length ? (
    <WritingsHero writings={heroWritings} displayAllLink={false} />
  ) : null
}

{featuredBook && <FeaturedBookHero book={featuredBook} />}

<div id="more" class="mb-36"></div>

<div class="relative z-40 bg-gradient-to-tr from-white/5 to-orange-700/5">
  <PageCut />

  <div class="container relative z-40 mx-auto pb-20 pt-20">
    <div class="mx-6 columns-1 gap-20 lg:columns-2">
      {
        restWritings.map((writing) => (
          <TextWritingPreviewSD writing={writing} displayImage={false} />
        ))
      }
    </div>
  </div>

  {
    pages > 1 ? (
      <div class="container relative z-40 mx-auto">
        <Paginator
          pages={pages}
          currentPage={1}
          getPageLink={(p) => `/writings/${p}/`}
        />
      </div>
    ) : null
  }
</div>
