---
import { Image } from "astro:assets";

import { reader } from "src/reader";
import { SocialIcon } from "src/components/react";

import logo from "public/logo-hd.svg";

const site = await reader.singletons.site.read();
---

<div class="bg-gradient-to-tl from-orange-700/5 to-transparent pt-24">
  <div
    class="container relative z-40 mx-auto flex items-start px-8 py-20 md:gap-10 lg:gap-20 lg:py-40 xl:px-36"
  >
    <div class="flex-grow-3 space-y-10 text-balance lg:text-right">
      <h1 class="my-h1">{site?.writings.title}</h1>
      <p class="text-lg">
        {site?.writings.description}
      </p>
      <div class="pt-6">
        <a
          href="https://www.buymeacoffee.com/nadiareznikova"
          target="_blank"
          class="my-hero-primary-button-lg"
        >
          Поддержать проект
        </a>
      </div>
      <div class="flex space-x-4 pr-4 pt-20 lg:justify-end">
        <SocialIcon icon="Facebook" href={site?.social.facebook} />
        <SocialIcon icon="Instagram" href={site?.social.instagram} />
        <SocialIcon icon="X" href={site?.social.twitter} />
        <SocialIcon icon="YouTube" href={site?.social.youtube} />
        <SocialIcon icon="TikTok" href={site?.social.tiktok} />
      </div>
    </div>

    <div class="hidden lg:block">
      <Image
        src={logo}
        alt="Logo"
        class="mx-auto lg:min-h-80 lg:min-w-80 xl:min-h-96 xl:min-w-96"
      />
    </div>
  </div>
</div>
