---
import { Image } from "astro:assets";
import { getCollection, getEntry } from "astro:content";

import Layout from "src/layouts/SimpleWithNavigation.astro";
import { reader } from "src/reader";
import {
  Prose,
  TextWritingPreviewSM,
  PageCut,
  WritingMetaDetails,
FeaturedBookHero,
} from "src/components/astro";
import { IfAnonymous, ReplyBox } from "src/components/react";

import img1 from "public/images/img-3.jpg";

export async function getStaticPaths() {
  const writings = await getCollection("writings");
  return writings.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry: writing } = Astro.props;
const post = await getEntry('writings', writing.slug);
const { Content } = await post!.render();

const allWritings = await getCollection("writings", ({ slug }) => slug !== writing.slug);

const index = allWritings.findIndex(({ slug }) => slug === writing.slug);
const readAlso = [
  allWritings[index - 1],
  allWritings[index + 1],
  allWritings[index + 2],
  allWritings[index + 3],
]
  .filter(Boolean)
  .slice(0, 3);

const site = await reader.singletons.site.read();
---

<Layout
  seo={{
    title: writing.data.title,
    description: writing.data.headline!,
    openGraph: {
      basic: {
        type: "website",
        title: writing.data.title!,
        image: img1.src,
      },
    },
    twitter: {
      card: "summary_large_image",
      title: writing.data.title,
      image: img1.src,
      imageAlt: writing.data.title,
      description: writing.data.headline,
    },
  }}
>
  <div
    class="relative z-40 mx-auto pt-10 md:max-w-[80ch] lg:max-w-[86ch] xl:max-w-[110ch]"
  >
    <div class="aspect-[5/3] px-4 pb-16">
      <Image
        class="h-full w-full rounded-xl object-cover"
        src={img1}
        alt={writing.data.title || ""}
      />
    </div>
  </div>

  <div
    class="relative z-40 mx-auto pb-20 sm:max-w-[74ch] md:max-w-[74ch] lg:max-w-[76ch] xl:max-w-[90ch]"
  >
    <div class="px-4 lg:px-8 xl:px-4">
      <h1 class="my-h1">{writing.data.title}</h1>

      <WritingMetaDetails writing={writing} />
    </div>

    <Prose>
      <Content />
    </Prose>
  </div>

  <div class="relative z-40 bg-gradient-to-tl from-white/20 to-white/50 pt-20">
    <div
      class="mx-auto px-4 pb-20 sm:max-w-[74ch] md:max-w-[74ch] lg:max-w-[76ch] xl:max-w-[90ch]"
    >

    <div class="flex items-center">
      <h2 class="my-h3 flex-1">Комментарии</h2>
      <IfAnonymous client:only="react">
        <a href={`/knock-knock/`} class="my-hero-button-sm mb-4 mt-2">Войти</a>
      </IfAnonymous>
    </div>

      <div id="enter"></div>
      <ReplyBox
        client:only="react"
        site={site?.replybox!}
        lang="ru"
        identifier={`/writings/${writing.slug}`}
      />
    </div>
  </div>

  <div
    class="relative z-40 bg-gradient-to-tr from-white/5 to-orange-700/5 pt-20"
  >
    <PageCut text="Читайте также:" />

    <FeaturedBookHero />

    <div
      class="container relative z-40 mx-auto px-4 pb-20 pt-20 md:px-8 lg:px-10 xl:px-6"
    >
      <div class="columns-1 xl:columns-3 xl:space-x-10">
        {
          readAlso.map((writing) => (
            <TextWritingPreviewSM writing={writing} displayImage={false} />
          ))
        }
      </div>
    </div>
  </div>

</Layout>
