---
import { Image } from "astro:assets";

import { reader } from "src/reader";
import { BackgroundBlobs, SocialIcon } from "src/components/react";
import Layout from "src/layouts/Layout.astro";
import { Breadcrumbs } from "src/components/astro";

import logo from "public/logo-hd.svg";

const site = await reader.singletons.site.read();
const menus = await reader.singletons.menus.read();
---

<Layout>
  <BackgroundBlobs />
  <div
    class="grid h-[100vh] w-full items-stretch bg-blob-2 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3"
  >
    <div class="hidden p-8 lg:block xl:col-span-2">
      <div class="flex h-full flex-col justify-between gap-8">
        <div class="z-40">
          <Breadcrumbs items={[{ label: "Мой профиль", href: "/profile" }]} />
        </div>

        <div class="z-40">
          <div class="flex gap-8">
            <div
              class="w-[36ch] space-y-8 border-r-zinc-700 pr-4 lg:border-r xl:pr-12"
            >
              <a href="/" data-astro-prefetch>
                <img
                  class="h-16"
                  width={64}
                  height={64}
                  src="/logo.svg"
                  alt={site?.title}
                />
              </a>

              {
                site?.footerNote && (
                  <p class="text-pretty text-xs">{site?.footerNote}</p>
                )
              }

              <div class="flex space-x-4">
                <SocialIcon icon="Facebook" href={site?.social.facebook} />
                <SocialIcon icon="Instagram" href={site?.social.instagram} />
                <SocialIcon icon="X" href={site?.social.twitter} />
                <SocialIcon icon="YouTube" href={site?.social.youtube} />
                <SocialIcon icon="TikTok" href={site?.social.tiktok} />
              </div>
            </div>

            <div class="pt-16 lg:pt-0">
              {
                menus?.footer.map((section) => (
                  <div>
                    <h3 class="text-sm font-semibold leading-6">
                      {section.section}
                    </h3>
                    <ul role="list" class="mt-6 space-y-4">
                      {section.items.map((item) => (
                        <li>
                          <a
                            href={item.url ?? "#"}
                            class="text-sm leading-6 hover:underline hover:underline-offset-2"
                            data-astro-prefetch
                          >
                            {item.label}
                          </a>
                        </li>
                      ))}
                    </ul>
                  </div>
                ))
              }
            </div>
          </div>
          <div class="mt-16 text-sm">{site?.copy}</div>
        </div>
      </div>
    </div>

    <div class="p-8">
      <div
        class="flex h-full flex-col gap-4 rounded-3xl bg-white/30 p-8 shadow-2xl shadow-black/15 backdrop-blur-sm"
      >
        <Image src={logo} alt="Logo" class="mx-auto mb-10 h-64" />

        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-2">
            <label class="font-semibold">Имя</label>
            <input class="rounded-lg bg-white/80 p-2 ring-2 ring-blob-2" />
            <div class="text-sm text-slate-600">
              Прежде чем иметь возможность оставлять комментарии, пожалуйста,
              представтесь.
            </div>
          </div>

          <h2 class="mt-6 text-lg font-medium leading-7">Оповещения</h2>

          <div class="space-y-6">
            <fieldset>
              <div class="space-y-6">
                <div class="relative flex gap-x-3">
                  <div class="flex h-6 items-center">
                    <input
                      id="comments"
                      name="comments"
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                    />
                  </div>
                  <div class="text-sm leading-6">
                    <label for="comments" class="font-medium"
                      >Публикации и видео</label
                    >
                    <p class="text-gray-500">
                      Получайте уведомление о выходе новых публикаций.
                    </p>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <div class="border-b-1 flex-grow"></div>

        <div class="flex items-center gap-8">
          <button class="my-primary-button">Сохранить</button>
          <a href="/" class="underline-offset-2 hover:underline">На главную</a>
        </div>
      </div>
    </div>
  </div>
</Layout>
