---
import { getCollection } from "astro:content";

import Layout from "src/layouts/SimpleWithNavigation.astro";

import { reader } from "src/reader";

import { BookDetailsHead, Bookshelf } from "src/components/astro";
import { StarRating } from "src/components/react";

export async function getStaticPaths() {
  const blogEntries = await getCollection("books");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const books = await getCollection("books", ({ id }) => id !== entry.id);
const site = await reader.singletons.site.read();
---

<Layout
  seo={{
    title: entry.data.title,
    description: entry.data.headline!,
    openGraph: {
      basic: {
        type: "website",
        title: entry.data.title!,
        image: entry.data.image.src!,
      },
    },
    twitter: {
      card: "summary_large_image",
      title: entry.data.title,
      image: entry.data.image.src!,
      imageAlt: entry.data.title,
      description: entry.data.headline,
    },
  }}
>
  <BookDetailsHead book={entry} />

  <section class="relative z-10 overflow-hidden bg-transparent">
    <div class="mx-auto flex max-w-6xl flex-col gap-6 pb-24 lg:flex-row">
      <div
        class="prose prose-lg relative mx-auto flex text-pretty px-6 tracking-tight prose-p:leading-7 first:prose-p:text-xl first:prose-p:font-semibold first:prose-p:text-black prose-a:mx-0.5 prose-a:text-indigo-600 prose-a:no-underline hover:prose-a:text-indigo-500"
      >
        <Content />
      </div>

      <div class="mx-auto sm:px-6 md:w-[73.125ch] lg:w-64">
        <figure
          class="border-indigo-600 px-6 py-8 sm:pl-0 md:mt-10 md:border-l md:pl-8"
        >
          <blockquote class="text-xs font-semibold leading-8 tracking-tight">
            <p>От автора</p>
          </blockquote>
          <figcaption class="flex items-center gap-x-4">
            <div class="text-sm leading-6">
              <div class="font-semibold text-gray-900">{site?.author}</div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>

  {
    (entry.data.testimonies?.length && (
      <section>
        <div class="relative z-40 bg-gradient-to-t from-white/0 to-white/20 py-16">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-xl text-balance text-center">
              <h2 class="text-2xl font-semibold leading-8 tracking-tight">
                Отзывы читателей
              </h2>
              <p class="mt-2 text-sm tracking-tight">
                Огромное спасибо вам, друзья, за вашу поддержку! Это невероятно
                ценно для меня.
              </p>
            </div>
            <div class="mx-auto mt-10 flow-root max-w-2xl columns-1 md:columns-2 lg:mx-0 lg:max-w-none lg:columns-3">
              <div class="-mt-8 gap-4 sm:-mx-4 sm:text-[0]">
                {entry.data.testimonies.map((testimonial) => (
                  <div class="pt-4 sm:inline-block sm:w-full sm:px-4 md:max-w-xl">
                    <figure class="rounded-2xl bg-gray-50/20 p-8 text-sm leading-6 backdrop-blur-sm">
                      <div class="pb-2 text-center text-yellow-500">
                        <StarRating />
                      </div>
                      <blockquote class="text-gray-900">
                        <p class="text-pretty before:content-['«'] after:content-['»']">
                          {testimonial.quote}
                        </p>
                      </blockquote>
                      {testimonial.author && testimonial.showAuthor && (
                        <figcaption class="mt-6 flex items-center gap-x-4">
                          <div>
                            <div class="text-sm before:content-['—_']">
                              {testimonial.author}
                            </div>
                          </div>
                        </figcaption>
                      )}
                    </figure>
                  </div>
                ))}
              </div>
            </div>
          </div>
        </div>
      </section>
    )) ||
      null
  }

  <Bookshelf books={books} />
</Layout>
